@import "compass/css3/images";
$experimental-support-for-svg: true;
$light-color: #70bde7;
$dark-color: #406d99;
$blue: #2FA7D0;

h1, h2, h3 {	
	font-weight: 200;
	margin: 0;
	color: #65696d;
}

h1 {
	font-size: 64px;
	line-height: 1.2em;
}
h2 {
	font-size: 48px;
	line-height: .8em;
}
h3 {
	font-size: 24px;
	line-height: 1.2em;	
}

p {
	font-size: 16px;
}


form {
	padding-top: 6px;
	label {
		font-size: 15px;
		margin-bottom: 5px;
		color: #fff;
	}
	ul {
		padding-top: 15px;		
		li {
			list-style-type: none;
			line-height: 15px;
			label {
				position: relative;
				left: 30px;
				top: -24px;
			}
		}
	}
	input[type="email"] {
		margin-bottom: 25px;
	}
	select {
		margin-top: 20px;
	}
	.custom.dropdown {
		margin-bottom: 20px !important;
	}
}




#signup-ribbon {
	img {
		position: absolute;
		top:0;
		right:0;			
	}
}

#top {
	/*@include background-image(radial-gradient(480px 345px, #fff 500px, #acafb3 900px));*/
	background: url(../images/gradient.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	#bme-logo {
		width: 160px;
		position: relative;
		top: -13px;
		left: 166px;
	}
	
	padding: 50px 0;
	
	img {
		float: left;
	}
	
	h3 {
		margin: 50px 0;
	}
	
	nav {
		margin-top: 50px;
		background: transparent;		
			
		ul li {
			&:hover {
				background: none !important;
			}
			
			a {
				color: black;
				font-size: 20px;
				font-weight: 200;
			
				&:hover {
					border-bottom: 7px solid $blue;
					background: none;
				}
			
				&#fb {
					&:hover {
						border-bottom: none;
					}
					
					img {
						position: relative;
						top: 12px;
					}
				}
			}			
		}
	}
	.mockup {
		padding-top: 25px;
	}
}

#middle, #bottom {
	h1, h2, h3 {
		text-align: right;
	}
	padding: 50px 0;
}

#bottom {
	h1, h2, h3 {
		color: white;
	}
	@include background-image(linear-gradient($light-color, $dark-color));
}

@media only screen and (max-width: 1180px) {
	#bme-logo {
		left:0px;	
	}
	#signup-ribbon {
		display: none;
	}	
}

@media only screen and (max-width: 767px) {
	#bottom h1, #bottom h2, #bottom h3, #middle h2 {
	  text-align: left;
	  font-size: 35px;
	  line-height: 1em;
	  padding-bottom: 15px;
	}
	
}

.signup-wrapper {display: none;}
@media only screen and (max-width: 940px) {
	
	.signup-wrapper {
		display: block;
		background: $blue;
		padding: 15px;
		text-align: center;
		text-transform: uppercase;
		.row a {
			
			color: #fff;
		}
	}
	
	
	#top {
		padding-top: 15px;
	}
	#top nav {
		margin-top: 0px;
	}
	
	.top-bar section {
		//top: 50px;
	}
	
	li.toggle-topbar {
		width: 100% !important;
	}	
	
	h1 {
	  font-size: 32px;
	  line-height: 1.2em;
	  text-align:left;
	}
	
	h2 {
	  font-size: 24px;
	  line-height: .8em;
	  text-align:left;	  
	}
	
	h3 {
	  font-size: 21px;
	  line-height: 1.2em;
	  text-align:left;	  
	}
	
}



.top-bar ul > li.name {
	display: none;	
}

#top nav ul li.toggle-topbar a {
	padding: 0 !important;	
}



@media only screen and (max-width: 940px) {
	.top-bar.expanded ul li.toggle-topbar a {
/*		content: url(../images/nav-mobile.png);
		height: 30px;
		width:30px;*/
		&:hover {
			border-bottom: none;
		}
	}	
	.top-bar ul > li.name {
		background: none;
		display: list-item;
	}
}