/* line 7, ../sass/style.scss */
h1, h2, h3 {
  font-weight: 200;
  margin: 0;
  color: #65696d; }

/* line 13, ../sass/style.scss */
h1 {
  font-size: 64px;
  line-height: 1.2em; }

/* line 17, ../sass/style.scss */
h2 {
  font-size: 48px;
  line-height: .8em; }

/* line 21, ../sass/style.scss */
h3 {
  font-size: 24px;
  line-height: 1.2em; }

/* line 26, ../sass/style.scss */
p {
  font-size: 16px; }

/* line 31, ../sass/style.scss */
form {
  padding-top: 6px; }
  /* line 33, ../sass/style.scss */
  form label {
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff; }
  /* line 38, ../sass/style.scss */
  form ul {
    padding-top: 15px; }
    /* line 40, ../sass/style.scss */
    form ul li {
      list-style-type: none;
      line-height: 15px; }
      /* line 43, ../sass/style.scss */
      form ul li label {
        position: relative;
        left: 30px;
        top: -24px; }
  /* line 50, ../sass/style.scss */
  form input[type="email"] {
    margin-bottom: 25px; }
  /* line 53, ../sass/style.scss */
  form select {
    margin-top: 20px; }
  /* line 56, ../sass/style.scss */
  form .custom.dropdown {
    margin-bottom: 20px !important; }

/* line 65, ../sass/style.scss */
#signup-ribbon img {
  position: absolute;
  top: 0;
  right: 0; }

/* line 72, ../sass/style.scss */
#top {
  /*@include background-image(radial-gradient(480px 345px, #fff 500px, #acafb3 900px));*/
  background: url(../images/gradient.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0; }
  /* line 80, ../sass/style.scss */
  #top #bme-logo {
    width: 160px;
    position: relative;
    top: -13px;
    left: 166px; }
  /* line 89, ../sass/style.scss */
  #top img {
    float: left; }
  /* line 93, ../sass/style.scss */
  #top h3 {
    margin: 50px 0; }
  /* line 97, ../sass/style.scss */
  #top nav {
    margin-top: 50px;
    background: transparent; }
    /* line 102, ../sass/style.scss */
    #top nav ul li:hover {
      background: none !important; }
    /* line 106, ../sass/style.scss */
    #top nav ul li a {
      color: black;
      font-size: 20px;
      font-weight: 200; }
      /* line 111, ../sass/style.scss */
      #top nav ul li a:hover {
        border-bottom: 7px solid #2fa7d0;
        background: none; }
      /* line 117, ../sass/style.scss */
      #top nav ul li a#fb:hover {
        border-bottom: none; }
      /* line 121, ../sass/style.scss */
      #top nav ul li a#fb img {
        position: relative;
        top: 12px; }
  /* line 129, ../sass/style.scss */
  #top .mockup {
    padding-top: 25px; }

/* line 134, ../sass/style.scss */
#middle, #bottom {
  padding: 50px 0; }
  /* line 135, ../sass/style.scss */
  #middle h1, #middle h2, #middle h3, #bottom h1, #bottom h2, #bottom h3 {
    text-align: right; }

/* line 141, ../sass/style.scss */
#bottom {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYmRlNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQwNmQ5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70bde7), color-stop(100%, #406d99));
  background-image: -webkit-linear-gradient(#70bde7, #406d99);
  background-image: -moz-linear-gradient(#70bde7, #406d99);
  background-image: -o-linear-gradient(#70bde7, #406d99);
  background-image: linear-gradient(#70bde7, #406d99); }
  /* line 142, ../sass/style.scss */
  #bottom h1, #bottom h2, #bottom h3 {
    color: white; }

@media only screen and (max-width: 940px) {
  /* line 149, ../sass/style.scss */
  #bme-logo {
    left: 0px; }

  /* line 152, ../sass/style.scss */
  #signup-ribbon {
    display: none; } }
@media only screen and (max-width: 767px) {
  /* line 158, ../sass/style.scss */
  #bottom h1, #bottom h2, #bottom h3, #middle h2 {
    text-align: left;
    font-size: 35px;
    line-height: 1em;
    padding-bottom: 15px; } }
/* line 167, ../sass/style.scss */
.signup-wrapper {
  display: none; }

@media only screen and (max-width: 940px) { /*@media only screen and (max-width: 940px) {*/
  /* line 170, ../sass/style.scss */
  .signup-wrapper {
    display: block;
    background: #2fa7d0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase; }
    /* line 176, ../sass/style.scss */
    .signup-wrapper .row a {
      color: #fff; }

  /* line 183, ../sass/style.scss */
  #top {
    padding-top: 15px; }

  /* line 186, ../sass/style.scss */
  #top nav {
    margin-top: 0px; }

  /* line 194, ../sass/style.scss */
  li.toggle-topbar {
    width: 100% !important; }

  /* line 198, ../sass/style.scss */
  h1 {
    font-size: 32px;
    line-height: 1.2em;
    text-align: left; }

  /* line 204, ../sass/style.scss */
  h2 {
    font-size: 24px;
    line-height: .8em;
    text-align: left; }

  /* line 210, ../sass/style.scss */
  h3 {
    font-size: 21px;
    line-height: 1.2em;
    text-align: left; } }
/* line 220, ../sass/style.scss */
.top-bar ul > li.name {
  display: none; }

/* line 224, ../sass/style.scss */
#top nav ul li.toggle-topbar a {
  padding: 0 !important; }

@media only screen and (max-width: 940px) {
  /* line 231, ../sass/style.scss */
  .top-bar.expanded ul li.toggle-topbar a {
    /*		content: url(../images/nav-mobile.png);
    		height: 30px;
    		width:30px;*/ }
    /* line 235, ../sass/style.scss */
    .top-bar.expanded ul li.toggle-topbar a:hover {
      border-bottom: none; }

  /* line 239, ../sass/style.scss */
  .top-bar ul > li.name {
    background: none;
    display: list-item; } }
